*{
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
h1{
    position: absolute;
    z-index: 50;
    left: 50%;
    top: 27%;
    transform: translate(-50%, -50%);
    line-height: 50px;
    height: 50px;
    color: #fff; 
    background: url(./madera\ 3.jpg);
    background-size: 300px auto;
    background-position: 0 -100PX;
    background-repeat: no-repeat ;
    padding: 0 20px;
    border-radius: 5px;
}
#conteiner{
    position: absolute;
    z-index: 40;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 650px;
    height: 280px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    background: url(./madera\ 1.jpg);
    background-size: 100% auto;
    border-radius: 20px;
}
#RGB{
    display: grid;
    grid-template-columns: 1fr;    
    text-align: center;
    height: 100px;
}
label{
    color: #fff;
    margin-top: 20px;
    margin-bottom: 2px;
}
#red{
    margin-top: 0;
}
.range{
    margin:0 15px;
    position: relative;
    height: 10px;
    width: 100px;
}


.cubos{
    width: 200px;
    height: 200px;
    text-align: center;
    align-items: center;
    font-size: 12px;
    margin: auto;
}
#cubo{
    background: rgb(125, 125, 125);

}
#cuboRandom{
    background: #000000;
}



#Red {
    -webkit-appearance: none;
    background: #ff6a6a;
    border-radius: 5px;
    outline: none;
}

#Red::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background: #ff1f1f;
    border-radius: 50%;
    cursor: pointer;
}

#Green {
    -webkit-appearance: none;
    background: #a0ff94;
    border-radius: 5px;
    outline: none;
}

#Green::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background: #24a713;
    border-radius: 50%;
    cursor: pointer;
}

#Blue {
    -webkit-appearance: none;
    background: #94a4ff;
    border-radius: 5px;
    outline: none;
}

#Blue::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background: #2038c2;
    border-radius: 50%;
    cursor: pointer;
}
#down{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 140px;
    width: 650px;
    height: 50px;

}
#down > span{
    display: inline-block;
    width: 100%;
    height: 40px;
}
#down > div{
    border-radius: 5px;
    background: url(./madera\ 3.jpg);
    background-size: 500px auto;
    background-repeat: no-repeat;
}
#conteinerBtn{
    text-align: center;
}
#conteinerBtn > button{
    all: unset;
    position: relative;
    top: 50%;
    transform: translatey(-50%);
    color: #fff ;
    text-align: center;
    border: #fff 3px solid;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 2px ;
}


#parecido{
    display: grid;
    align-items: center;
    text-align: center;
    color: #fff;
}





    .pizarra{
        color: #fff;
        text-align: center;
        transition: .5s;
        position: absolute;
        left: -400px;
        top: 50%;
        transform: translateY(-50%);
        width: 300px;
        height: 400px;
        background: rgb(7, 59, 20);
        border: #7a4a1c 10px solid;
    }
    .show {
        left:10px;
        }
    #btnPizarra{
        position: absolute;
        background: rgb(255, 255, 255);
        border-radius: 0 10px 10px 0;
        width: 70px;
        height: 60px;
        left: 0;
        top: 25px;
    }
    #btnPizarra .line{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        background: #202020;
        width: 25px;
        height: 4px;
        transition: .5s;
    }

    
    #btnPizarra .line:nth-child(even){
        top:20px;
        transform: rotate(45deg);
    }
    #btnPizarra .line:nth-child(odd){
        top:35px;
        transform: rotate(-45deg);
    }
    #btnPizarra .line:nth-child(1){
        left: 15px;
    }
    #btnPizarra .line:nth-child(2){
        left: 15px;
    }
    #btnPizarra .line:nth-child(3){
        left: 33px;    
    }
    #btnPizarra .line:nth-child(4){
        left: 33px;
    }


    #btnPizarra.show .line:nth-child(even){
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
        width: 40px;
    }
    #btnPizarra.show .line:nth-child(odd){
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
        width: 40px;
    }

    #resultados{
        border-top: #fff 3px solid;
        margin-left: 10px;
        margin-right: 10px; 
        max-height: 370px ;
        display: grid;
        grid-template-columns: 3fr 3fr 1.5fr;
        row-gap: 10px;
        overflow-y:auto;
        overflow-x: hidden;
    }
    #resultados::-webkit-scrollbar {
        position: absolute;
        width: 5px;
    }
    #resultados::-webkit-scrollbar-thumb {
        background: #fcfcfc;
        border-radius: 20px;
    }
    #resultados::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.199);
        border-radius: 20px;
    }
    .color{
        text-align: center; 
        display: block;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 24px;
        line-height: 24px;
        font-size: 12px;
    }
#resultados span {
    height: 25px;
    line-height: 25px;
}